<a href="/">VOLTAR</a>
<h1>{{mensagem}}</h1>

<p>{{user.Nome}}</p>
<p>{{user.Idade}}</p>
<p>{{user.Cidade}}</p>

{{#if aprovade}}
    <p>Parabéns você foi aprovado</p>
{{else}}
    <p>Lamento, não foi aprovado</p>
{{/if}}


<p>ver suas materia <a href="/materia">Click Aqui</a></p>
